<style>
  html {
    box-sizing: border-box;
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  body {
    margin: 0;
    background: #fafafa;
  }
</style>

<body>
  <div id="swagger-ui"></div>

  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/swagger-ui/3.47.1/swagger-ui-bundle.js"
    integrity="sha512-jgRW0JF86OgfePQNihFG6r/1FX3X/ZHZ3eqKt2iu2dbog4m0XjnZNvhiuLgN1ttXQnpP0fjLOPf7M1Y9kpEPWQ=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  ></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/swagger-ui/3.47.1/swagger-ui-standalone-preset.min.js"
    integrity="sha512-Z0GCBh8J2G8IMQdfhNXU400vN8Ik5esbTt6wvZAPWMCEHCA6tDimiGH6sY2g+Kn5Whdq+zLwX+QS6MQsU2POsw=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  ></script>
  <script>
    window.onload = function () {
      // Begin Swagger UI call region
      const ui = SwaggerUIBundle({
        url: '/swagger.json',
        dom_id: '#swagger-ui',
        deepLinking: true,
        presets: [SwaggerUIBundle.presets.apis, SwaggerUIStandalonePreset],
        plugins: [SwaggerUIBundle.plugins.DownloadUrl],
        layout: 'StandaloneLayout',
      });
      // End Swagger UI call region

      window.ui = ui;
    };
  </script>
</body>
